<?xml version="1.0"?>
<configuration>
	<appSettings>
    <!-- test parameters -->
    <add key="MsgDebug" value="false"/>
		<add key="TFSServer" value="http://team2010App.teamSystems.egemin.be:8080/tfs/Development"/>
		<add key="LogFilename" value="Epia3Log.txt"/>
		<add key="Demonstration" value="false"/>
		<add key="ApplyTFSServer" value="true"/>
		<add key="DropKCEwcsDatabase" value="true"/>

    <!-- Epia Installer name -->
    <add key="Epia4InstallerName" value="Epia.msi"/>
    <!-- Epia shell Base path -->
    <!-- Epia UICI -->
    <add key="EpiaCiAllBuildStam" value="\\CI\\Epia 4\\Epia.Main.CI\\"/>
    <add key="EpiaCiDev01BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev01.CI\\"/>
    <add key="EpiaCiDev02BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev02.CI\\"/>
    <add key="EpiaCiDev03BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev03.CI\\"/>
	<add key="EpiaCiDev03-Net4BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev03-Net4.CI\\"/>
    <add key="EpiaCiDev07BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev07.CI\\"/>
    <add key="EpiaCiDev08BuildStam" value="\\CI\\Epia 4\\Epia.Development.Dev08.CI\\"/>
    <!-- Epia UINightly -->
    <add key="EpiaNightAllBuildStam" value="\\Nightly\\Epia 4\\Epia.Main.Nightly\\"/>
    <add key="EpiaNightDev01BuildStam" value="\\Nightly\\Epia 4\\Epia.Development.Dev01.Nightly\\"/>
    <add key="EpiaNightDev02BuildStam" value="\\Nightly\\Epia 4\\Epia.Development.Dev02.Nightly\\"/>
    <add key="EpiaNightDev03BuildStam" value="\\Nightly\\Epia 4\\Epia.Development.Dev03.Nightly\\"/>
    <add key="EpiaNightDev07BuildStam" value="\\Nightly\\Epia 4\\Epia.Development.Dev07.Nightly\\"/>
    <add key="EpiaNightDev08BuildStam" value="\\Nightly\\Epia 4\\Epia.Development.Dev08.Nightly\\"/>
    <!-- Epia UIVersion -->
    <add key="EpiaVersionAllBuildStam" value="\\Version\\Epia 4\\Epia.Version\\"/>
    <!-- Etricc shell Base path -->
    <!-- Etricc UICI -->
    <add key="EtriccUICiAllBuildStam" value="\\CI\\Etricc 5\\Etricc.Main.CI\\"/>
    <add key="EtriccUICiDev01BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev01.CI\\"/>
    <add key="EtriccUICiDev02BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev02.CI\\"/>
    <add key="EtriccUICiDev03BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev03.CI\\"/>
    <add key="EtriccUICiDev04BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev04.CI\\"/>
    <!-- Etricc UINightly -->
    <add key="EtriccUINightAllBuildStam" value="\\Nightly\\Etricc 5\\Etricc.Main.Nightly\\"/>
    <add key="EtriccUINightDev01BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev01.Nightly\\"/>
    <add key="EtriccUINightDev02BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev02.Nightly\\"/>
    <add key="EtriccUINightDev03BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev03.Nightly\\"/>
    <add key="EtriccUINightDev04BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev04.Nightly\\"/>
    <!-- Etricc UIVersion -->
    <add key="EtriccUIVersionAllBuildStam" value="\\Version\\Etricc 5\\Etricc.Version\\"/>
    <!-- Etricc 5 Base path -->
    <!-- Etricc 5CI -->
    <add key="Etricc5CiAllBuildStam" value="\\CI\\Etricc 5\\\Etricc.Main.CI\\"/>
    <add key="Etricc5CiDev01BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev01.CI\\"/>
    <add key="Etricc5CiDev02BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev02.CI\\"/>
    <add key="Etricc5CiDev03BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev03.CI\\"/>
    <add key="Etricc5CiDev04BuildStam" value="\\CI\\Etricc 5\\Etricc.Development.Dev04.CI\\"/>
    <!-- Etricc 5Nightly -->
    <add key="Etricc5NightAllBuildStam" value="\\Nightly\\Etricc 5\\Etricc.Main.Nightly\\"/>
    <add key="Etricc5NightDev01BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev01.Nightly\\"/>
    <add key="Etricc5NightDev02BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev02.Nightly\\"/>
    <add key="Etricc5NightDev03BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev03.Nightly\\"/>
    <add key="Etricc5NightDev04BuildStam" value="\\Nightly\\Etricc 5\\Etricc.Development.Dev04.Nightly\\"/>
    <!-- Etricc 5Version -->
    <add key="Etricc5VersionAllBuildStam" value="\\Version\\Etricc 5\\Etricc.Version\\"/>
    <!-- build log file -->
    <add key="EpiaBuildLogFile" value="\\logs\\Debug\\Epia.log"/>
    <add key="EtriccUIBuildLogFile" value="\\logs\\Etricc 5.log"/>
    <add key="Etricc5BuildLogFile" value="\\logs\\Etricc 5.log"/>

    <add key="Epiax86BuildLogFile" value="\\logs\\x86\\Debug\\Epia.log"/>
    <add key="EtriccUIx86BuildLogFile" value="\\logs\\Etricc 5.log"/>
    <add key="Etricc5x86BuildLogFile" value="\\logs\\Etricc 5.log"/>

    <add key="Epiax64BuildLogFile" value="\\logs\\x64\\Debug\\Epia.log"/>
    <add key="EtriccUIx64BuildLogFile" value="\\logs\\x64\\Etricc 5.log"/>
    <add key="Etricc5x64BuildLogFile" value="\\logs\\x64\\Etricc 5.log"/>
    
    <!-- relative install path -->
    <add key="EpiaRelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    <add key="EtriccUIRelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    <add key="Etricc5RelativePath" value="\\Installation\\Any CPU\\Debug\\"/>

    <add key="Epiax86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    <add key="EtriccUIx86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    <add key="Etricc5x86RelativePath" value="\\Installation\\x86\\Debug\\"/>

    <add key="Epiax64RelativePath" value="\\Installation\\x64\\Debug\\"/>
    <add key="EtriccUIx64RelativePath" value="\\Installation\\x64\\Debug\\"/>
    <add key="Etricc5x64RelativePath" value="\\Installation\\x64\\Debug\\"/>

    <add key="Etricc5InstallationFolder" value="C:\\Program Files\\Egemin\\Etricc Server\\"/>
    
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
