<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  resolution 1024 should = 120   -->
    <add key="TransportEditYposition" value="145"/>
    <!--  Etricc App Testing   -->
    <add key="OnlyUITest" value="false"/>
    <add key="TestType" value="all"/>
    <!-- TestType :all or 1 to 22  or    num1-num2-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
