<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!-- TFS-->
    <add key="TFSServerUri" value="http://team2010App.teamSystems.egemin.be:8080/tfs/Development" />
    <add key="TFSServer" value="team2010App.teamSystems.egemin.be" />
    <add key="TFSUsername" value="TfsBuild" />
    <add key="TFSPassword" value="Egemin01" />
    <add key="TFSDomain" value="TeamSystems.Egemin.Be" />
    <!-- QATestEpiaProtected Application UI Test-->
    <add key="OnlyUITest" value="false" />
    <add key="CurrentUserPassword" value="Egemin01" />
    <add key="TestType" value="all" />
    <!-- TestType :all or 1 to 16  -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>