<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Epia4 Application UI Test-->
    <add key="CurrentUserPassword" value="Egemin01"/>
    <add key="MultipleLoginCount" value="2"/>
    <add key="EpiaInstallMsiDirectory" value="X:\CI\Epia 4\Epia.Main.CI\Epia.Main.CI_20120307.1\Installation\Any CPU\Debug"/>
    <add key="OnlyUITest" value="false"/>
    <add key="TestType" value="all"/>
    <!-- TestType :all or 1 to 33  or    num1-num2-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
