<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StressTest" value="true" />
    <add key="hour" value="24" />
    <add key="CurrentUserPassword" value="Egemin01" />
    <add key="TestCase" value="all" />
    <!-- TestCase :all or 1 to 16  -->
  </appSettings>
</configuration>