<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Test.Config.Section" type="TFS2010AutoDeploymentTool.TestsConfigSection, TFS2010AutoDeploymentTool, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <Test.Config.Section>
    <testElement serverRunAs="Service" 
                 excel="Visible" 
                 functionalTesting="False" 
                 mail="False" 
                 selectedProjectFile="Demo.xml" 
                 installOldEtricc5Service="False" 
                 installEtriccLauncher="False"  />
  </Test.Config.Section>
  <appSettings>
    <add key="AutoStartup" value="true"/>
    <add key="AutoPressStartButton" value="true"/>
    <add key="MsgDebug" value="false"/>
    <add key="TFSServerUri" value="http://team2010App.teamSystems.egemin.be:8080/tfs/Development"/>
    <add key="TFSServer" value="team2010App.teamSystems.egemin.be"/>
    <add key="TFSUsername" value="TfsBuild"/>
    <add key="TFSPassword" value="Egemin01"/>
    <add key="TFSDomain" value="TeamSystems.Egemin.Be"/>
    <add key="LogFilename" value="Epia4DeploymentLog.txt"/>
    <add key="Demonstration" value="false"/>
    <add key="TestResultFolderName" value="TestResults"/>
    <add key="RecompileDotnetVersion" value="v3.5"/>

    <!-- Epia Installer name -->
    <add key="Epia4InstallerName" value="Epia.msi"/>
    <add key="Etricc5InstallationFolder" value="\\Egemin\\Etricc Server\\"/>
    
    <!-- build log file -->
    <add key="EpiaAnyCPUBuildLogFile" value="\\logs\\Debug\\Epia.log"/>
    <add key="EtriccUIAnyCPUBuildLogFile" value="\\logs\\Etricc 5.log"/>
    <add key="Etricc5AnyCPUBuildLogFile" value="\\logs\\Etricc 5.log"/>

    <add key="Epiax86BuildLogFile" value="\\logs\\x86\\Debug\\Epia.log"/>
    <add key="EtriccUIx86BuildLogFile" value="\\logs\\Etricc 5.log"/>
    <add key="Etricc5x86BuildLogFile" value="\\logs\\Etricc 5.log"/>

    <add key="Epiax64BuildLogFile" value="\\logs\\x64\\Debug\\Epia.log"/>
    <add key="EtriccUIx64BuildLogFile" value="\\logs\\x64\\Etricc 5.log"/>
    <add key="Etricc5x64BuildLogFile" value="\\logs\\x64\\Etricc 5.log"/>

    <!-- relative install path -->
    <add key="EpiaRelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    <add key="EpiaRelativeProtectedPath" value="\\Installation\\Any CPU\\Protected\\"/>
    <add key="EtriccUIRelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    <add key="Etricc5RelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    <add key="EtriccStatisticsRelativePath" value="\\Installation\\Any CPU\\Debug\\"/>
    

    <add key="Epiax86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    <add key="Epiax86RelativeProtectedPath" value="\\Installation\\x86\\Protected\\"/>
    <add key="EtriccUIx86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    <add key="Etricc5x86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    <add key="EtriccStatisticsx86RelativePath" value="\\Installation\\x86\\Debug\\"/>
    

    <add key="Epiax64RelativePath" value="\\Installation\\x64\\Debug\\"/>
    <add key="EtriccUIx64RelativePath" value="\\Installation\\x64\\Debug\\"/>
    <add key="Etricc5x64RelativePath" value="\\Installation\\x64\\Debug\\"/>
    <add key="EtriccStatisticsx64RelativePath" value="\\Installation\\x64\\Debug\\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
